.main-container {
  text-align: center;
  padding-top: 80px;
}

h1 {
  margin-top: 0;
  padding-top: 65px;
}

div.menu-item {
  padding: 10px;
}

div.menu-wrapper {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.Heading {
  padding-top: 80px;
  left: 0;
  display: flex;
  margin-left: 20px;
  font-size: 30px;
  font-style: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

img {
  max-width: 330px;
  max-height: 195px;
  width: auto;
  height: auto;
}

.text {
  margin-left: 10px;
  font-size: 20px;
  color: white;
}

.box-blue {
  margin: 10px;
  transition: all 0.3s ease-out;
}