a:link, a:visited, a:active, a:focus{
    text-decoration: none;
    color:white;
}

.forum-container{
    margin: auto;
    width: 60%;
    color: rgb(154, 154, 154);
}

.thread-box-info{
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-size: small;
    color:  rgb(100, 100, 100);
}

.thread-box{
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-size: small;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.last-updated{
    display: flex;
    min-width: 120px;
}

.post-name{
    display: flex;
    min-width: 500px;
}

.reply-count{
    min-width: 60px;
}

.creator{
    display: flex;
    min-width: 120px;
}