.navbar {
  height: 50px;
  overflow: hidden;
  background-color: #18181b;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  box-shadow: 0px 1px 2px 1px black;
}

.logo {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  text-shadow: -0.5px 0.5px 0px #8545e1, -1px 1px 0px #8545e1,
    -1.5px 1.5px 0px #8545e1, -2px 2px 0px #8545e1, -2.5px 2.5px 0px #8545e1,
    -3px 3px 0px #8545e1, -3.5px 3.5px 0px #8545e1, -4px 4px 0px #8545e1;
}

.sign-up {
  float: right;
  color: white;
  margin-right: 10px;
  margin-top: 9px;
  border-radius: 4px;
  background-color: #8847e6;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}

.sign-up:hover {
  background-color: #7946e8;
}

.login {
  float: right;
  color: white;
  margin-right: 10px;
  margin-top: 9px;
  border-radius: 4px;
  background-color: #3a3a3d;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}

.login:hover {
  background-color: #464649;
}
