.navbar {
  height: 50px;
  overflow: hidden;
  background-color: #18181b;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 1px 2px 1px black;
}

.logo {
  float:left;
  display: block;
  color: #8545e1;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

.sign-up {
  float: right;
  color: white;
  margin-right: 10px;
  margin-top: 9px;
  border-radius: 4px;
  background-color: #8847e6;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}

.sign-up:hover{
  background-color:#7946e8;
}

.login {
  float: right;
  color: white;
  margin-right: 10px;
  margin-top: 9px;
  border-radius: 4px;
  background-color: #3a3a3d;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}

.login:hover{
  background-color:#464649;
}
