.page {
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-container {
	padding: 150px;
	margin-top: 150px;
	background-color: #18181b;
	width: 50vw;
}

label {
	width: 100px;
	display: inline-block
}

.email,
.password {
	margin: 10px
}

button {
	margin-top: 30px
}